@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand);

/* @group reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* @end */

/* @group structure */

html, body {
	background: #f6f6f6 url(../images/whiteBoard.jpg) no-repeat top center;
}

body {
	font: 62.5% "Arial", Verdana, sans-serif;
	color: #333;
	text-align: center;
}

header, article, section, aside, footer {
	display: block;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

/* @end */

/* @group header */

header {
	width: 100%;
	height: px;
	margin: 35px 0;
}

header h1 {
	font: 10.0em 'Just Another Hand', arial, serif;
	color: #4e4d4d;
}

header h1 a:link, header h1 a:active, header h1 a:visited {
	font-size: 4.0em;
	color: #;
	text-decoration: none;
}

header h1 a:focus {
	outline: thin dotted;
}

header h1 a:hover {
	color: #;
	text-decoration: underline;
}

/* @group nav */

nav {
	overflow: hidden;
}

nav ul {
	float: left;
	width: 100%;
	margin-bottom: px;
}

nav ul li {
	display: inline;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:active {
	float: left;
	display: block;
	margin-left: px;
	padding: px;
	color: #;
	background: #;
	text-decoration: none;
}

nav ul li:first-child a {
	margin-left: 0;
}

nav ul li a:focus {
	outline: thin dotted;
}

nav ul li a:hover {
	color: #;
	text-decoration: underline;
}

/* @end */

/* @end */

/* @group Columns */

#columns {
	position: relative;
	clear: both;
}

.topRight {
	position: absolute;
	right: 40px;
	top: -100px;
}

#delete {
	display: none;
	padding: 10px;
	font-size: 2.4em;
	background-color: #fff7f7;
	border: 1px solid #ffd4d1;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#delete img {
	width: 24px;
	vertical-align: top;
}

.columns {
	width: 205px;
	float: left;
	margin: 0 0 0 35px;
}

.columns:first-child {
	margin-left: 0;
}

.columns h2 {
	font: 2.5em Arial, sans-serif;
	color: #333;
	border-bottom: 1px solid #ddd;
	margin: 0 0 15px;
}

.columns ul {
	list-style: none;
	font: normal 2.0em 'Helvetica', arial, serif;
	min-height: 100px;
}

.columns ul li {
	margin-left: -27px;
	padding: 5px 5px 5px 27px;
	overflow: hidden;
	white-space: nowrap;
	cursor:default;
}

.columns ul li span {
	cursor:pointer;
	cursor:hand;
}

.columns ul li .move {
	display: none;
	width: 16px;
	cursor:move;
}

.columns ul li:hover {
	overflow: visible;
	padding-left: 5px;
	background: #F2F2F2; /* old browsers */
	background: -moz-linear-gradient(top, #F2F2F2 0%, #E0E0E0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#E0E0E0)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#E0E0E0',GradientType=0 ); /* ie */
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.columns ul li:hover .move {
	display: inline;
}

.item-highlight {
	background: #ddd;
	height: 35px;
}

/* @end */

/* @group Loader */

#loader {
	font-size: 2.0em;
	text-align: center;
}

/* @end */

/* @group footer */



/* @end */

/* @group misc */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

/* Hide from browsers */
.hide {
	display: none;
}

/* Hide from browsers & screenreaders */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide from browsers, available to screenreaders */
.visuallyHidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Hide from browsers & screenreaders, maintain layout */
.invisible { 
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

strong, th {
	font-weight: bold;
}

pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

::-moz-selection {
	background: #62aaf2;
	color:#fff;
	text-shadow: none;
}

::selection {
	background:#62aaf2;
	color:#fff;
	text-shadow: none;
} 

/* @end */

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
	a:link {
		-webkit-tap-highlight-color: #;
	} 
	
	/* Prevent iOS, WinMobile from adjusting font size */
	html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}

@media print {
	* {background: transparent !important; color: #444 !important; text-shadow: none !important;}
  a, a:visited {color: #444 !important; text-decoration: underline;}
  a:after {content: " (" attr(href) ")";} 
  abbr:after {content: " (" attr(title) ")";}
  .ir a:after {content: "";}  /* Don't show links for images */
  pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
  thead {display: table-header-group;} /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img {page-break-inside: avoid;}
  @page {margin: 0.5cm;}
  p, h2, h3 {orphans: 3; widows: 3;}
  h2, h3{page-break-after: avoid;}
}